body {
  font-family: 'Martel', serif;
  font-size: 16px;
  font-weight: 400;
}

header {
  height: auto;
  text-align: left;
}

a {
  text-decoration: none;
}

#topBar {
  background: linear-gradient(180deg, hsla(21, 100%, 82%, 1.0), hsla(0, 0%, 100%, 1.0));
  position: fixed;
  width: 100%;
}

.scrolled {
  background-color: hsla(21, 100%, 82%, 0.95);
  position: fixed;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 16px;
  grid-template-rows: auto auto auto;
}

nav {
  z-index: 100;
}

ul.topnav {
  font-family: 'Poppins', sans-serif;
  font-size: 0.7em;
  padding: 0.5em 0px;
}

a.topnav {
  color: hsla(189, 97%, 14%, 1.0);
  letter-spacing: 2px;
}

li.logo {
  grid-column: 1 / span 4;
  grid-row: 1 / span 3;
  margin: 8px auto auto 16px;
}

img.ne {
  height: 35px;
  width: 55px;
}

.abouthome {
  grid-column-start: 6;
  grid-row-start: 2;
  margin-top: 12px;
}

.resume {
  grid-column-start: 7;
  grid-row-start: 2;
  margin-top: 12px;
}

.aboutabout {
  grid-column-start: 5;
  grid-row-start: 2;
  font-weight: bold;
  margin-top: 12px;
  text-transform: uppercase;
}

.aboutproject {
  grid-column-start: 5;
  grid-row-start: 2;
  margin-top: 12px;
}

.dropdown {
  color: hsla(189, 97%, 14%, 1.0);
  cursor: pointer;
  display: inline-block;
  grid-column-start: 6;
  grid-row-start: 2;
  letter-spacing: 2px;
  margin-top: 12px;
  position: relative;
}

.dropdown-content {
  background-color: hsla(20, 100%, 95%, 1.0);
  display: none;
  margin-left: -2em;
  margin-top: .75em;
  min-width: 13em;
  position: absolute;
  z-index: 600;
}

.dropdown-content a {
  color: hsla(189, 97%, 14%, 1.0);
  display: block;
  margin: 1em 0;
  padding: .75em;
  text-decoration: none;
}

.dropdown-content a:hover {
  font-weight: bold;
}

.dropdownCurrent {
  background-color: hsla(20, 100%, 88%, 1.0);
  font-weight: bold;
}

.show {
  display: block;
}

li.contact {
  border: 0.09em solid hsla(189, 97%, 14%, 1.0);
  box-sizing: border-box;
  grid-column: 8 / -1;
  grid-row-start: 2;
  height: auto;
  margin: 2px 8px 0px 2px;
  padding: .75em .5em .5em .5em;
  text-align: center;
}

.projectdrop {
  font-weight: bold;
  text-transform: uppercase;
}

a:hover.topnav, li:hover.topnav {
  font-weight: bold;
  text-transform: uppercase;
}

h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

h1.landing {
  color: hsla(189, 97%, 14%, 1.0);
  font-family: 'Martel', serif;
  font-size: 1.65em;
  font-weight: 900;
  grid-column: 1 / 10;
  grid-row-start: 2;
  line-height: 140%;
  padding-top: 7em;
  padding-left: 16px;
  padding-bottom: 7em;
}

h2.aboutme {
  color: hsla(189, 97%, 14%, 1.0);
  font-size: 1.25em;
  font-weight: bold;
  grid-column: 1 / -1;
  margin-bottom: 1.25em;
  padding-top: 25%;
  padding-left: 16px;
}

div.aboutme {
  background-image: url("../images/about-NE.png");
  background-size: cover;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  height: 400px;
  margin: 0 16px 2em 16px;
}

article.aboutme {
  grid-column: 1 / -1;
}

a.aboutme {
  grid-column: 1 / -3;
  text-align: center;
}

section.cases-header {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 2em 1.75em 1.25em 1.75em 2em;
  width: 100%;
}

article.cases-header {
  background-image: url(../images/conclusion-background.png);
  background-size: cover;
  background-repeat: none;
  grid-column: 1 / -1;
  height: 141px;
}

.cases-banner {
  background-color: hsla(174, 31%, 73%, 1.0);
  grid-column: 1 / -1;
  grid-row: 2 / span 3;
}

h2.cases-header {
  color: hsla(189, 97%, 14%, 1.0);
  font-size: 1.25em;
  font-weight: bold;
  grid-column: 1 / -1;
  grid-row-start: 3;
  margin: auto 16px;
}

section.cases {
  margin: 4em 2em;
}

article.chefs-pal {
  border-bottom: .2em solid hsla(174, 31%, 73%, 1.0);
  margin-bottom: 5em;
}

.cp-logo {
  display: block;
  margin: 3em auto;
  width: 80%;
}

.cp-mobile {
  display: block;
  margin: auto;
  width: 100%;
}

.cp-desktop {
  display: none;
}

h3.cp, h3.cache {
  display: none;
}

.description {
  font-weight: 400;
  line-height: 150%;
  padding: 3em 0;
}

.button {
  align-items: center;
  border: .1em solid hsla(8, 100%, 62%, 1.0);
  box-sizing: border-box;
  color: hsla(0, 0%, 0%, 1.0);
  cursor: pointer;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: .75em;
  justify-content: center;
  letter-spacing: .1em;
  margin: 0 auto 6em;
  min-height: 2.5em;
  max-height: none;
  max-width: 75%;
  padding: 1em 2em 1em 2em;
}

.cache-logo {
  display: block;
  margin: 5em auto 3em;
  width: 60%;
}

.cache-mobile {
  display: block;
  margin: auto;
  width: 100%;
}

.cache-desktop {
  display: none;
}

footer {
  background: linear-gradient(90deg, hsla(189, 97%, 14%, 1.0), hsla(179, 100%, 23%, 1.0));
  color: hsla(0, 0%, 100%, 1.0);
  bottom: 0;
  padding: 0.5em 0px 0.5em 0px;
  position: relative;
  width: 100%;
  z-index: 1;
}

ul.footer {
  grid-column: 1 / -1;
  padding: 0.5em 0em;
  text-align: center;
}

li.footer {
  display: inline;
  padding: 1em;
}

a.footer {
  color: hsla(0, 0%, 100%, 1.0);
  font-size: 1.5em;
}

h6.footer {
  font-family: 'Poppins', sans-serif;
  font-size: .75em;
  font-weight: regular;
  grid-column: 1 / -1;
  grid-row-start: 2;
  padding: .5em 0em .75em 0em;
  text-align: center;
}

@media screen and (min-width: 475px) {
  body {
    padding-bottom: 5em;
  }

  .abouthome {
    grid-column-start: 7;
  }

  .resume {
    grid-column-start: 8;
  }

  .aboutabout {
    grid-column-start: 6;
    grid-row-start: 2;
    margin-top: 1em;
  }

  .aboutproject {
    grid-column-start: 6;
    grid-row-start: 2;
    margin-top: 1em;
  }

  .dropdown {
    grid-column-start: 7;
  }

  .resume {
    grid-column-start: 8;
  }

  li.contact {
    grid-column: 9 / -1;
  }

  h1.landing {
    font-size: 1.65em;
    grid-column: 2 / span 7;
    line-height: 150%;
  }

  h2.cases-header {
    grid-column: 2 / -1;
  }

  section.cases {
    margin: 4em 5em;
  }

  .cp-logo {
    width: 50%;
  }

  .description {
    display: block;
    margin: 0 auto;
    width: 75%;
  }

  .button {
    width: 50%;
  }

  .cache-logo {
    width: 40%;
  }

  h2.aboutme {
      padding-top: 10%;
  }

  a.aboutme {
    grid-column: 1 / -5;
    grid-row-start: 4;
  }

  div.aboutme {
    background-image: url("../images/about-me-tablet.png");
  }

  footer {
    position: fixed;
    z-index: 100;
  }

  ul.footer {
    grid-column: 1 / 5;
    text-align: left;
  }

  li.footer {
    display: inline;
}

h6.footer {
  grid-column: 6 / -1;
  grid-row:auto;
  padding-right: 16px;
  padding-top: 1.25em;
  text-align: right;
  }
}

@media screen and (min-width: 991px) {
  body {
    padding-bottom: 5em;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-column-gap: 20px;
  }

  ul.topnav {
    font-size: .9em;
  }

  li.logo {
    grid-column-start: 3;
  }

  img.ne {
    width: 70px;
    height: 45px;
  }

  .abouthome {
    grid-column-start: 11;
    grid-row-start: 2;
    padding-top: 0.5em;
  }

  .resume {
    grid-column-start: 12;
    grid-row-start: 2;
    padding-top: 0.5em;
  }

  .aboutabout {
    grid-column-start: 10;
    padding-top: 0.5em;
  }

  .aboutproject {
    grid-column-start: 10;
    padding-top: 0.5em;
  }

  .dropdown {
    grid-column-start: 11;
    padding-top: 0.5em;
  }

  .resume {
    grid-column-start: 12;
    padding-top: 0.5em;
  }

  li.contact {
    grid-column: 13 / 15;
    height: auto;
    margin: 0.5em;
    padding: 0.65em .5em .5em .5em;
    text-align: center;
  }

  h1.landing {
    font-size: 2.5em;
    grid-column: 3 / 11;
    line-height: 140%;
  }

  section.cases-header {
      display: grid;
      grid-template-columns: repeat(16, 1fr);
      grid-column-gap: 20px;
    }

  article.cases-header {
    background-image: url(../images/process-banner.png);
  }

  h2.cases-header {
    grid-column: 3 / 15;
    font-size: 1.5em;
  }

  section.cases {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-column-gap: 20px;
    grid-template-rows:
      5em auto auto 3em;
    margin: 0;
  }

/* Chef's Pal */
  article.chefs-pal {
    grid-column: 3 / 15;
    grid-row: 2;
  }

  div.chefs-pal, div.cache {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows:
      auto auto auto auto auto
      auto 2em auto auto;
    margin-bottom: 4em;
  }

  .cp-logo {
    grid-column: 1 / 5;
    grid-row: 3 / 8;
    transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    width: 80%;
  }

  .cp-mobile {
    display: none;
  }

  .cp-desktop {
    display: block;
    grid-column: 6 / -1;
    grid-row: 1 / span 10;
    width: 100%;
  }

  h3.cp {
    border-bottom: .08em solid hsla(174, 31%, 73%, 1.0);
    display: block;
    font-size: 1.1em;
    font-weight: 600;
    grid-column: 1 / 5;
    grid-row: 3;
    opacity: 0;
    padding-bottom: .25em;
  }

  p.cp {
    grid-column: 1 / 5;
    grid-row: 4 / 6;
    margin: 0;
    opacity: 0;
    padding: 1em 0 0;
    width: 100%;
  }

  a.cp {
    grid-column: 1 / 5;
    grid-row: 8;
    opacity: 0;
  }

  .button {
    border-width: .125em;
    font-size: .85em;
    min-height: 3.5em;
    margin: 0;
    max-width: 100%;
    width: 100%;
  }

  div.chefs-pal:hover .cp-logo {
    opacity: 0;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
  }

  div.chefs-pal:hover h3.cp,
  div.chefs-pal:hover p.cp,
  div.chefs-pal:hover a.cp {
    opacity: 1.0;
    transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
  }

/* Cache */
  article.cache {
    grid-column: 3 / 15;
    grid-row: 3;
  }

  .cache-logo {
    grid-column: 8 / -1;
    grid-row: 3 / 8;
    transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    width: 50%;
  }

  .cache-mobile {
    display: none;
  }

  .cache-desktop {
    display: block;
    grid-column: 1 / 8;
    grid-row: 1 / span 10;
    width: 100%;
  }

  h3.cache {
    border-bottom: .08em solid hsla(174, 31%, 73%, 1.0);
    display: block;
    font-size: 1.1em;
    font-weight: 600;
    grid-column: 9 / -1;
    grid-row: 3;
    opacity: 0;
    padding-bottom: .25em;
  }

  p.cache {
    grid-column: 9 / -1;
    grid-row: 4 / 6;
    margin: 0;
    opacity: 0;
    padding: 1em 0 0;
    width: 100%;
  }

  a.cache {
    grid-column: 9 / -1;
    grid-row: 8;
    opacity: 0;
  }

  div.cache:hover .cache-logo {
    opacity: 0;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
  }

  div.cache:hover h3.cache,
  div.cache:hover p.cache,
  div.cache:hover a.cache {
    opacity: 1.0;
    transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
  }

/* FOOTER */
  ul.footer {
    grid-column: 3 / 10;
    text-align: left;
  }

  li.footer {
    display: inline;
    padding: 0px 15px 0px 0px;
  }

  a.footer {
    color: hsla(0, 0%, 100%, 1.0);
    font-size: 1.25em;
  }

  h6.footer {
    font-family: 'Poppins', sans-serif;
    font-size: .75em;
    font-weight: regular;
    grid-column: 10 / 15;
    grid-row:auto;
    padding-top: 1em;
    text-align: right;
  }

/* about page */
  section.aboutme {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-column-gap: 20px;
    grid-template-rows: 3em auto auto 5em;
    padding-top: 10%;
  }

  h2.aboutme {
    font-size: 1.5em;
    grid-column: 3 / 15;
    grid-row-start: 1;
    padding-left: 0;
    padding-top: 0;
  }

  div.aboutme {
    background-image: url("../images/about-me-photo.png");
    grid-column: 10 / 15;
    grid-row-start: 2;
    height: auto;
  }

  article.aboutme {
    grid-column: 3 / 9;
    grid-row-start: 2;
  }

  a.aboutme {
    grid-column: 3 / 7;
    grid-row-start: 3;
  }

}
